#include "resource.h"
#include "windows.h"

IDI_KAZESOMISO          ICON                    "kazesomiso.ico"
IDB_CHERRY              BITMAP                  "cherry.bmp"
IDB_KAEDE               BITMAP                  "kaede.bmp"

IDC_KAZESOMISO MENU 
BEGIN
    POPUP "メニュ(&F)"
    BEGIN
        MENUITEM "バージョン情報(&V)",          IDM_VERSION
        MENUITEM "終了(&X)",  IDM_EXIT
    END
    POPUP "取札(&T)"
    BEGIN
        MENUITEM "札のデザイン(&D)",            IDM_FUDADESIGN
        MENUITEM "札落とし(&O)",                IDM_FUDAOTOSI
        MENUITEM "札画像を保存／印刷(&S)",      IDM_SAVEASIMAGE
        MENUITEM SEPARATOR
        MENUITEM "設定の保存／読込(&L)",        IDM_TORISETTINGS
    END
    POPUP "詠札(&Y)"
    BEGIN
        MENUITEM "札のデザイン(&D)",            IDM_YOMIDESIGN
        MENUITEM "札画像を保存／印刷(&S)",      IDM_YOMIASIMAGE
        MENUITEM SEPARATOR
        MENUITEM "設定の保存／読込(&L)",        IDM_YOMISETTINGS
    END
END


IDD_FUDADESIGN DIALOGEX 22, 17, 238, 213
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "取札のデザイン"
FONT 10, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON   "",IDC_STATIC,0,0,0,0 /*RETURNキーを押しても反応しないようにする*/
    GROUPBOX        "",IDC_STATIC,5,0,217,70

    LTEXT           "幅",IDC_STATIC,12,13,9,8
    EDITTEXT        IDC_WIDTH,23,11,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRWIDTH,45,10,8,15,SBS_VERT
    LTEXT           "高さ",IDC_STATIC,57,13,17,8
    EDITTEXT        IDC_HEIGHT,71,11,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRHEIGHT,93,10,8,15,SBS_VERT
    CONTROL         "比率固定",IDC_FIXASPECTRATIO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,11,42,13

    COMBOBOX        IDC_FUDANUM,150,11,63,156,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    PUSHBUTTON      "フォント",IDC_SETFONT,12,32,32,14
    PUSHBUTTON      "色",IDC_FONTCOLOR,53,32,14,14
    PUSHBUTTON      "背景色",IDC_SETBACKGROUNDCOLOR,77,32,29,14

    LTEXT           "枠幅",IDC_STATIC,136,34,17,8
    EDITTEXT        IDC_BORDERSIZE,154,32,18,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRBORDERSIZE,173,31,8,15,SBS_VERT
    PUSHBUTTON      "枠色",IDC_SETBORDERCOLOR,189,32,20,14

    LTEXT           "左右余白",IDC_STATIC,12,55,33,8
    EDITTEXT        IDC_MARGIN_H,44,53,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRMARGIN_H,66,52,8,15,SBS_VERT

    LTEXT           "上下余白",IDC_STATIC,81,55,33,8
    EDITTEXT        IDC_MARGIN_V,113,53,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRMARGIN_V,135,52,8,15,SBS_VERT

    CONTROL         "濁音を清音に変換",IDC_CONVERTDAKUON,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,150,55,70,10

    GROUPBOX        "背景画像",IDC_STATIC,7,75,217,38
    COMBOBOX        IDC_BGIMAGETYPE,15,88,58,96,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "画像選択",IDC_BGIMAGEFILE,79,88,40,14

    LTEXT           "透明度",IDC_STATIC,134,84,24,8
    EDITTEXT        IDC_BGIMAGE_TRANSPARENT,129,94,21,12,
                    ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_BGIMAGE_SCR_TRANSPARENT,152,93,8,15,SBS_VERT

    LTEXT           "文字枠",IDC_STATIC,178,84,24,8
    COMBOBOX        IDC_MOJIOUTLINE,172,94,40,72,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    GROUPBOX        "決まり字かるた",IDC_STATIC,7,116,217,65
    CONTROL         "決まり字を表示",IDC_KIMARIJI_ON,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,15,130,60,10
    PUSHBUTTON      "フォント",IDC_KIMARIJI_FONT,86,128,32,14
    PUSHBUTTON      "色",IDC_KIMARIJI_COLOR,127,128,14,14
    LTEXT           "行間",IDC_STATIC,21,149,17,8
    EDITTEXT        IDC_KIMARIJI_SUKIMA_HORIZONAL,17,162,21,12,
                    ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_KIMARIJI_SCR_SUKIMA_HORIZONAL,39,161,8,15,SBS_VERT
    LTEXT           "文字間隔",IDC_STATIC,67,149,33,8
    EDITTEXT        IDC_KIMARIJI_SUKIMA_VERTICAL,72,162,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_KIMARIJI_SCR_SUKIMA_VERTICAL,94,161,8,15,SBS_VERT
    LTEXT           "左右の余白",IDC_STATIC,121,149,41,8
    EDITTEXT        IDC_KIMARIJI_MARGIN_HORIZONAL,127,162,21,12,
                    ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_KIMARIJI_SCR_MARGIN_HORIZONAL,149,161,8,15,SBS_VERT
    LTEXT           "上下の余白",IDC_STATIC,175,149,41,8
    EDITTEXT        IDC_KIMARIJI_MARGIN_VERTICAL,182,162,21,12,
                    ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_KIMARIJI_SCR_MARGIN_VERTICAL,204,161,8,15,SBS_VERT

    PUSHBUTTON      "決定",IDOK,43,191,60,15
    PUSHBUTTON      "取り消し",IDCANCEL,135,191,60,15
END

IDD_YOMIDESIGN DIALOGEX 22, 17, 238, 213
STYLE DS_SETFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "詠札のデザイン"
FONT 10, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON   "",IDC_STATIC,0,0,0,0 /*RETURNキーを押しても反応しないようにする*/
    GROUPBOX        "",IDC_STATIC,5,0,217,70

    LTEXT           "幅",IDC_STATIC,12,13,9,8
    EDITTEXT        IDC_WIDTH,23,11,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRWIDTH,45,10,8,15,SBS_VERT
    LTEXT           "高さ",IDC_STATIC,57,13,17,8
    EDITTEXT        IDC_HEIGHT,71,11,21,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRHEIGHT,93,10,8,15,SBS_VERT
    CONTROL         "比率固定",IDC_FIXASPECTRATIO,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,107,11,42,13

    COMBOBOX        IDC_FUDANUM,150,11,63,156,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    PUSHBUTTON      "フォント",IDC_SETFONT,12,32,32,14
    PUSHBUTTON      "色",IDC_FONTCOLOR,53,32,14,14

    LTEXT           "枠幅",IDC_STATIC,136,34,17,8
    EDITTEXT        IDC_BORDERSIZE,154,32,18,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRBORDERSIZE,173,31,8,15,SBS_VERT
    PUSHBUTTON      "枠色",IDC_SETBORDERCOLOR,189,32,20,14

    PUSHBUTTON      "背景色",IDC_SETBACKGROUNDCOLOR,77,32,29,14

    COMBOBOX        IDC_ROWNUM,12,53,36,108,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "の上余白",IDC_STATIC,50,55,34,8
    EDITTEXT        IDC_MARGINTOP,85,53,18,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRMARGINTOP,103,52,8,15,SBS_VERT

    LTEXT           "左右の余白",IDC_STATIC,116,55,41,8
    EDITTEXT        IDC_MARGINH,158,53,18,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCRMARGINH,176,52,8,15,SBS_VERT

    GROUPBOX        "背景画像",IDC_STATIC,7,75,217,38
    COMBOBOX        IDC_BGIMAGETYPE,15,88,58,96,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP
    PUSHBUTTON      "画像選択",IDC_BGIMAGEFILE,79,88,40,14

    LTEXT           "透明度",IDC_STATIC,134,84,24,8
    EDITTEXT        IDC_BGIMAGE_TRANSPARENT,129,94,21,12,
                    ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_BGIMAGE_SCR_TRANSPARENT,152,93,8,15,SBS_VERT

    LTEXT           "文字枠",IDC_STATIC,178,84,24,8
    COMBOBOX        IDC_MOJIOUTLINE,172,94,40,72,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    GROUPBOX        "ふりがな",IDC_STATIC,7,116,217,65

    COMBOBOX        IDC_FURIGANA_ON,15,128,60,48,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    PUSHBUTTON      "フォント",IDC_FURIGANA_FONT,86,128,32,14
    PUSHBUTTON      "色",IDC_FURIGANA_COLOR,127,128,14,14

    LTEXT           "文字との隙間",IDC_STATIC,16,151,44,8
    EDITTEXT        IDC_FURIGANA_SUKIMA,61,149,18,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_FURIGANA_SCRSUKIMA,79,148,8,15,SBS_VERT

    PUSHBUTTON      "決定",IDOK,43,191,60,15
    PUSHBUTTON      "取り消し",IDCANCEL,135,191,60,15
END

IDD_FUDAOTOSI DIALOGEX 0, 0, 194, 206
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "札落とし"
FONT 9, "System"
BEGIN
    DEFPUSHBUTTON      "はい",IDC_FUDAOTOSI_YES,15,20,50,15
    PUSHBUTTON      "いいえ",IDC_FUDAOTOSI_NO,81,20,50,15
    EDITTEXT        IDC_MESSAGE,3,38,187,163,ES_MULTILINE | ES_AUTOVSCROLL
    LTEXT           "← ← この札の上の句が分かりますか？",IDC_STATIC,3,7,
                    143,8
END

IDD_SAVEIMAGE DIALOGEX 0, 0, 186, 247
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "札画像の保存／印刷"
FONT 10, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON   "保存",IDOK,8,59,30,14

    LTEXT           "選択した札の枚数",IDC_STATIC,8,30,75,8
    EDITTEXT        IDC_SELECTEDNUM,53,41,22,12, ES_AUTOHSCROLL | ES_RIGHT | ES_READONLY


    PUSHBUTTON      "印刷",IDC_PRINTFUDA,49,59,30,14
    PUSHBUTTON      "キャンセル",IDCANCEL,19,79,50,14

    COMBOBOX        IDC_TORIORYOMI,15,9,38,36,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    GROUPBOX        "保存設定",IDC_STATIC,3,100,85,130

    LTEXT           "画像形式",IDC_STATIC,8,113,40,8
    COMBOBOX        IDC_FILETYPE,44,111,38,60,CBS_DROPDOWNLIST | WS_VSCROLL | 
                    WS_TABSTOP

    LTEXT           "画質",IDC_STATIC,8,136,17,8
    EDITTEXT        IDC_QUALITY,28,134,20,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCR_QUALITY,53,133,8,15,SBS_VERT

    LTEXT           "札サイズ",IDC_STATIC,8,159,40,8
    EDITTEXT        IDC_IMAGE_SCALE,36,157,30,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCR_IMAGE_SCALE,71,156,8,15,SBS_VERT

    LTEXT           "ファイル名",IDC_STATIC,8,177,35,8
    EDITTEXT        IDC_FILEPREFIX,13,187,63,12,ES_AUTOHSCROLL
    LTEXT           "※実際は↑に",IDC_STATIC,12,202,75,8
    LTEXT           "札番号と拡張子が付く",IDC_STATIC,12,212,75,8

    PUSHBUTTON      "全選択",IDC_SELECTALL,98,6,30,14
    PUSHBUTTON      "全解除",IDC_CANCELALL,138,6,30,14
    LISTBOX         IDC_FUDALIST,93,24,82,228,WS_BORDER | WS_VSCROLL | 
                     LBS_SORT | LBS_NOTIFY | LBS_MULTIPLESEL

END

IDD_VERSION DIALOGEX 0, 0, 174, 266
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "バージョン情報"
FONT 10, "MS UI Gothic"
BEGIN
    DEFPUSHBUTTON      "閉じる",IDOK,126,18,35,14
    LTEXT           "[名称]: かるた画像作成ソフト かぜそみそ",IDC_STATIC,8,8,174,8
    LTEXT           "[バージョン]: 1.05 [作者]: 吉本 晴洋",IDC_STATIC,8,18,114,8
    EDITTEXT        IDC_DEVICEINFO,8,35,158,225,ES_MULTILINE | WS_VSCROLL | WS_HSCROLL |ES_AUTOHSCROLL | ES_AUTOVSCROLL
END

IDD_MYCHOOSEFONT DIALOGEX 0, 0, 218, 286
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "フォント"
FONT 10, "MS UI Gothic"
BEGIN
    LTEXT           "検索",IDC_STATIC,7,7,17,8
    EDITTEXT        IDC_FONTSEARCH,29,5,108,12,ES_AUTOHSCROLL
    COMBOBOX        cmb1,7,24,131,255,CBS_SIMPLE | CBS_SORT | CBS_HASSTRINGS | CBS_OWNERDRAWFIXED |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "スタイル",IDC_STATIC,149,68,25,8
    COMBOBOX        cmb2,149,79,53,80,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "サイズ",IDC_STATIC,149,103,20,8
    COMBOBOX        cmb3,149,114,36,144,CBS_SIMPLE | CBS_SORT | 
                    WS_VSCROLL | WS_TABSTOP

    SCROLLBAR       IDC_SCR_FONTSIZE,186,113,8,15,SBS_VERT

    PUSHBUTTON      "OK",IDOK,161,7,50,14
    PUSHBUTTON      "キャンセル",IDCANCEL,161,27,50,14
    PUSHBUTTON      "ランダム(&R)",IDC_FONTRANDOM,161,47,50,14
    DEFPUSHBUTTON   "",IDC_STATIC,0,0,0,0 /*RETURNキーを押しても反応しないようにする*/
END

IDD_MYPRINTDLG DIALOGEX 0, 0, 218, 306
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
CAPTION "印刷"
FONT 10, "MS UI Gothic"
BEGIN
    PUSHBUTTON      "プリンタ選択",IDC_SELPRINTER,7,12,49,14
    PUSHBUTTON      "印刷開始",IDOK,7,35,49,14
    PUSHBUTTON      "キャンセル",IDCANCEL,7,58,49,14

    GROUPBOX        "余白 ( 単位: ミリメートル )",IDC_STATIC,65,7,130,63

    LTEXT           "左",IDC_STATIC, 78,26,9,8
    LTEXT           "右",IDC_STATIC,138,26,9,8
    LTEXT           "上",IDC_STATIC, 78,48,9,8
    LTEXT           "下",IDC_STATIC,138,48,9,8

    EDITTEXT        IDC_PM_LEFT,   90,24,27,12,ES_AUTOHSCROLL | ES_RIGHT
    EDITTEXT        IDC_PM_RIGHT, 150,24,27,12,ES_AUTOHSCROLL | ES_RIGHT
    EDITTEXT        IDC_PM_TOP,    90,46,27,12,ES_AUTOHSCROLL | ES_RIGHT
    EDITTEXT        IDC_PM_BOTTOM,150,46,27,12,ES_AUTOHSCROLL | ES_RIGHT

    SCROLLBAR       IDC_PM_SCR_LEFT,  118,23,8,15,SBS_VERT
    SCROLLBAR       IDC_PM_SCR_RIGHT, 178,23,8,15,SBS_VERT
    SCROLLBAR       IDC_PM_SCR_TOP,   118,45,8,15,SBS_VERT
    SCROLLBAR       IDC_PM_SCR_BOTTOM,178,45,8,15,SBS_VERT

    LTEXT           "札のサイズ",IDC_STATIC,9,80,37,8
    EDITTEXT        IDC_BAIRITU,50,78,37,12,ES_AUTOHSCROLL | ES_RIGHT
    SCROLLBAR       IDC_SCR_BAIRITU,88,77,8,15,SBS_VERT
    
    PUSHBUTTON      "競技用",IDC_SETTOKYOUGI,103,78,31,14

    LTEXT           "プリンタ名",IDC_STATIC,9,99,41,8
    EDITTEXT        IDC_SELECTEDPRINTER,48,97,80,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "ページ数",IDC_STATIC,149,99,33,8
    EDITTEXT        IDC_PAGENUM,180,97,22,12, ES_AUTOHSCROLL | ES_RIGHT | ES_READONLY

    LTEXT           "プレビュー",IDC_PREVIEW,9,115,200,175

    DEFPUSHBUTTON   "",IDC_STATIC,0,0,0,0 /*RETURNキーを押しても反応しないようにする*/
END


IDD_SETTINGS DIALOGEX 0, 0, 435, 285
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "設定の保存／読込"
FONT 9, "System"
BEGIN
    DEFPUSHBUTTON   "",IDC_STATIC,0,0,0,0 /*RETURNキーを押しても反応しないようにする*/
END
